@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.job-description ul{
  list-style-type: disc;
  margin-top: 13px;
  margin-bottom: 13px;
}

.job-description li{
  margin-left: 40px;
}

.job-description h3{
  margin-top: 13px;
  margin-bottom: 13px;
}

.job-description h3{
  font-size: 19px !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

.job-description h2{
  font-size: 20px !important;
  margin-top: 15px;
  margin-bottom: 15px;
}